body{
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dark {
  background: #333;
  color: #f2f2f2;
}

.white {
  background-color: #f2f2f2;
  color: #333;
}

.menus {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  color: #333;
}

.menus #dark-check {
  border: 3px solid #333;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.menus #dark-check:hover {
  background: #333;
  color: #f2f2f2;
}

.menus #dark-check.dark {
  border: 3px solid #f2f2f2;
}

.menus #dark-check.dark:hover{
  background: #f2f2f2;
  color: #333;
}

.back-home {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-home .button {
  border: 3px solid #333;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}

.back-home .button:hover{
  background: #333;
  color: #f2f2f2;
}

.back-home.dark .button {
  border: 3px solid #f2f2f2;
}

.back-home.dark .button:hover{
  background: #f2f2f2;
  color: #333;
}

.menus.dark, .back-home.dark .button, .header.dark, .copyright {
  color: #f2f2f2;
}

.header {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #333;
  font-size: 1.5em;
}

.header h1{
  margin-top: 10px;
  margin-bottom: 0;
}

.header h1:before {
  content: "$";
  color: rgb(117, 30, 117);
  display: inline-block;
  position: relative;
  padding: 0 3px;
  margin-right: 3px;
}

.header h1:after {
  content: "T";
  background: #333;
  display: inline-block;
  position: relative;
  animation: blink 1s infinite;
  width: 30px;
  height: auto;
}

.header.dark h1:after{
  background: #f2f2f2;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.networks{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.networks a {
  text-decoration: none;
  font-size: 2em;
  color: #333;
  border: 3px solid #333;
  border-radius: 100%;
  padding: 10px;
  margin: 0 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.networks.dark a {
  color: #f2f2f2;
  border: 3px solid #f2f2f2;
}

.networks a:hover{
  color: #f2f2f2;
  background-color: #333;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.copyright {
  text-transform: uppercase;
  color: #333;
  margin-top: 40px;
}

.copyright h3 {
  margin: 0;
}

.copyright.dark {
  color: #f2f2f2;
}

@media screen and (max-width: 960px) {
  .header{
    margin-top: 50px;
  }

  .networks {
    margin-bottom: 5vh;
  }

  .networks a {
    font-size: 1.5em;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .copyright {
    margin: 20px 0;
  }
}